.Asset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
}

.Image {
  max-width: 90%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}