.loadMoreBtn {
  background-color: transparent;
  border: 1px solid rgb(230, 126, 34);
  color: rgb(230, 126, 34);
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}

.loadMoreBtn:hover {
  background-color: rgb(230, 126, 34);
  color: rgb(255, 255, 255);
}

.loadMoreBtn:disabled {
  border-color: rgb(233, 236, 239);
  color: rgb(233, 236, 239);
  cursor: not-allowed;
}