.navbarCustom {
  background-color: hsl(0, 0%, 30%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}

.logo {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
.navBrand {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
}

.navLink {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: hsl(0, 0%, 85%);
  text-transform: uppercase;
  padding: 8px 12px;
  gap: 8px;
  transition: color 0.3 ease-in-out;
  text-decoration: none;
}

.navLink:hover, 
.navLink:hover i {
  color: rgba(75, 75, 219, 0.9);
}

.Active,
.Active i {
  color: rgba(216, 105, 105, 0.9);
  font-weight: bold;
}

i {
  color: hsl(0, 0%, 96%);
  font-size: 1.4rem;
  padding: 6px;
  vertical-align: middle;
  transition: color 0.3 ease-in-out;
}