.navbarCustom {
  background-color: rgb(77, 77, 77);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: var(--spacing-xs) 0;
}

.logo {
  width: 100px;
  height: auto;
}

.logo:hover {
  transform: scale(1.1);
}

.navBrand {
  text-decoration: none;
  padding: var(--spacing-xs) var(--spacing-sm);
}

.navLink {
  font-weight: bold;
  font-size: var(--font-size-md);
  color: var(--color-nav-link);
  text-transform: uppercase;
  padding: var(--spacing-xs) var(--spacing-sm);
  gap: var(--spacing-xs);
  text-decoration: none;
}

.navLink:hover,
.navLink:hover i {
  color: var(--color-nav-link-hover);
}

.active,
.active i {
  color: var(--color-nav-link-active);
}

.navIcon {
  color: var(--color-nav-icon);
  font-size: var(--font-size-lg);
  padding: var(--spacing-xs);
  vertical-align: middle;
}