.postCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  max-height: 500px;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out,
              background-color 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}

.postCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  background-color: rgba(230, 126, 34, 0.05);
}

.postImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
}

.cardBody {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.postTitle {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(43, 43, 43);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.postText {
  font-size: 16px;
  color: rgb(41, 41, 41);
  line-height: 1.4;
  margin-bottom: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.signupWarningText {
  margin-top: 10px;
  color: rgb(166, 88, 16);
  font-size: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .postCard {
    max-width: 100%;
    border-radius: 10px;
  }

  .postTitle {
    font-size: 18px;
  }

  .postText {
    font-size: 14px;
  }
}
