.postCard {
  max-width: 370px;
  max-height: 500px;
  height: auto;
  transition: height 0.3s ease;
}

.postImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
}

.postTitle {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--color-text-primary);
  line-height: 1.2;
  text-align: center;
  margin-bottom: var(--spacing-md);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 3;
}

.postText {
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  line-height: 1.4;
  margin-bottom: var(--spacing-md);
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 4;
}

.signupWarningText {
  font-size: var(--font-size-md);
}

@media (max-width: 768px) {
  .postCard {
    max-width: 100%;
    border-radius: 10px;
  }

  .postTitle {
    font-size: var(--font-size-lg);
  }

  .postText {
    font-size: var(--font-size-sm);
  }
}