.Row {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(240, 241, 249);
  border-radius: 6px;
  color: rgb(113, 119, 161);
  text-align: center;
  padding: 16px;
  font-size: 1rem;
  gap: 10px;
  transition: 0.3 ease-in-out;
  margin-top: 8px;
}

.Input:focus {
  border-color: rgb(33, 66, 178);
  box-shadow: 0 0 5px rgba(33, 66, 178, 0.6);
  outline: none;
}

.Header {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(33, 66, 178);
  margin-bottom: 20px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 1rem;
  transition: color 0.3 ease-in-out;
}

.Link:hover {
  color: rgb(33, 66, 178);
}

.Link span {
  color: rgb(255, 146, 84);
  font-weight: bold;
}

.Container {
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.ErrorMsg {
  display: flex;
  align-items: center;
  background-color: rgb(204, 204, 204);
  color: rgba(252, 61, 57, 0.9);
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid rgba(225, 233, 212, 0.9);
  margin-top: 8px;
  animation: fadeIn 0.3s ease-in-out;
}

.ErrorMsg i {
  margin-right: 8px;
  font-size: 1.3rem;
  color: rgba(244, 244, 11, 0.95);
}

.SignUpCol,
.SignInCol {
  height: 400px;
  background: url("https://images.unsplash.com/photo-1569246294372-ed319c674f14?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}