.Main {
  padding-top: 120px;
}

/* Specific styles for the main content wrapper in App */
.Content {
  max-width: 1000px;
  margin: var(--spacing-3xl) auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Content {
    max-width: 90%;
    margin: var(--spacing-2xl) auto;
  }
}