.App {
  font-family: "Lora", sans-serif;
  background-color: rgb(248, 249, 250);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.Main {
  padding-top: 120px;
}

/* Container styling for the form */
.Content {
  max-width: 1000px;
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Content {
    max-width: 90%;
    padding: 20px;
  }
}